* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    
}
#menu {
    width: 100%;
    height: 6%;
    background-color:black;
    font-family: 'Archivo Black', sans-serif ;
    font-weight: 5%;
    font-size: 150%;
    letter-spacing: 10px;
    color: rgb(255, 217, 0);
    
}

#catalogos {
    height: 10%;
}
#cordefundo {
    width: 100%;
    align-items: center;
    justify-content: center;
    background-image: 
    linear-gradient(to left,rgb(10, 236, 10),rgba(0, 255, 221, 0.938) );
    background-size: 500% 100% ;
    animation: degrade-animado 3s  infinite alternate ;
}

@keyframes degrade-animado {
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100%;

    }
    
}

button {
    height: 20px;
    width: 17%;
    border-radius: 20px;
    background-color: rgb(41, 41, 41);
    color: rgb(255, 196, 0) ;
    border: none;
    margin-top:15px;
    font-family: 'Archivo Black', sans-serif;
    box-shadow: 1px 1px 10px 1px black;
    
}

p {
    font-family: 'Archivo Black', sans-serif;
}


.footer {
    height: 200px;
    background:
    linear-gradient(-40deg,rgb(110, 110, 110) , white );
    margin-top: 15px;

    
}
::-webkit-scrollbar{
    width: 10px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
background-color: whitesmoke;
    width: 10px;
}
